<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./header") %>
  <title>Document</title>
</head>
<body>
  <%- include("./info-box") %>
  
  <!-- put navbar here -->
  <%- include("./navbar") %>

  <div class="container">
    <!-- put search bar here -->
    <%- include("./search-bar") %>

    <!-- put kategori here -->
    <%- include("./kategori") %>

    <!-- tampilkan (beberapa produk) -->
    <%- include("./produk") %>
  </div>

  <!-- javascript dan jquery -->
  <%- include("./add-script.ejs") %>

  

</body>
</html>