<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./header") %>
  <title>Astrowater on Node</title>
</head>
<body>
  <%- include("./info-box") %>
  
  <!-- put navbar here -->
  <%- include("./navbar") %>

  <!-- put search bar here -->
  <!-- <%- include("./search-bar") %> -->

  <div class="container">

    <!-- put kategori here -->
    <%- include("./kategori") %>

    <!-- tampilkan (beberapa produk) -->
  </div>

  <!-- javascript dan jquery -->
  <%- include("./add-script.ejs") %>

</body>
</html>