<div class="kategori">
  <h4>Kategori produk</h4>
  <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">

      <%- include("./kategori-item") %>
      <%- include("./kategori-item") %>
      <%- include("./kategori-item") %>
      <%- include("./kategori-item") %>
      <%- include("./kategori-item") %>

    </div>
    <button type="button" class="carousel-control-prev" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button type="button" class="carousel-control-next" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>