<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./header") %>
  <title>Produk nomor 12345</title>
</head>
<body>
  <%- include("./info-box") %>
  <%- include("./navbar") %>

  <div class="container mt-5">

    <h2>Detil Produk</h2>
    <p style="font-size:25px ;"> 
      <a href="/produk/<%= nomor_kategori %>"> <%= nama_kategori  %> </a> &gt &gt <%= dataBarang['nama_produk']  %> 
      </p>
    <div class="row my-3">

      <div class="col-md-4">
        
        <img src="<%= dataBarang['img_source'] %>" alt="carbon" class="img-fluid">
      </div>

      <div class="col-md-8">
        <h2>Carbon</h2>
        <h2>Rp 15.000.000.00</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolore incidunt officia cumque explicabo cupiditate molestias soluta corporis? Voluptas aut reprehenderit dolorum tenetur ipsa deleniti perspiciatis ab enim necessitatibus vero!
        Totam, ea voluptatem. Libero incidunt quod nostrum id ipsa. Ipsa reprehenderit asperiores recusandae fuga sunt sed quod esse laborum quos voluptates praesentium ullam similique ex totam sint, hic blanditiis aut.
        Dignissimos vel hic minus natus dolor dolores eum officiis, quasi eos doloribus aperiam exercitationem rem adipisci atque laudantium, sed beatae incidunt corrupti facilis expedita quidem amet nesciunt nemo. Officiis, quisquam.
        Minus nam et similique quidem quibusdam nostrum repudiandae deserunt obcaecati veniam fugit facilis atque accusantium adipisci eveniet, temporibus voluptate minima nihil animi quae? Corporis voluptate itaque ut illo voluptas autem!
        Culpa omnis doloremque laborum, sunt possimus velit aut animi, cumque numquam sit eveniet in inventore esse cupiditate vel? Sit qui vero expedita? Nostrum quam voluptas eligendi ab magnam consectetur ratione.
        Vitae, dicta itaque incidunt aliquam tempora officiis quaerat et nemo nesciunt possimus aspernatur eos suscipit fugit, consequatur pariatur animi! Nihil tenetur quaerat autem ratione magni voluptatum harum debitis quisquam unde!
        Itaque magnam incidunt saepe enim officia animi provident porro quae dolorem facere quo asperiores, voluptates officiis debitis exercitationem vitae autem expedita similique fugit eius voluptatibus nobis voluptatem rem? Dicta, vel!
        Mollitia facilis, magnam laborum illo nulla doloribus ratione suscipit! Amet repellendus commodi veniam iusto? Dicta corporis ullam rem rerum dolorum obcaecati doloremque? Nobis magnam sapiente, quas quia quibusdam facilis quam.
        Excepturi ex adipisci dolor doloremque quis. Dolorem consequatur placeat in voluptates! Modi suscipit exercitationem ea officiis, cupiditate quo at. Quo praesentium temporibus ratione dolor consectetur magnam voluptatum ipsum nulla excepturi.
        Sequi aliquam eius dignissimos suscipit esse voluptatibus optio? Ex adipisci nemo porro tenetur ut repellat esse accusantium nostrum minus blanditiis cupiditate in explicabo, nam facere omnis, doloremque modi! Maiores, velit.</p>
        <button class="btn btn-outline-primary">Beli Sekarang</button>
      </div>
    </div>
  </div>
  
</body>
</html>